#newTicket {
    margin: 10px auto;
    float:left;
    width: 50%;
}
#recentTickets {
    margin: 10px 0 0 51%;
    width: 49%;
    //display:none;
}
#content {
    width:95%;
    margin: 100px auto;
    display:table;
}
#totals {
    position:absolute;
    bottom:0;
    right:20px;
}
#displayTickets {

}
#loginPanel {
    margin:2em;
}
body {
    background: blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0099ff, #4db8ff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0099ff, #4db8ff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0099ff, #4db8ff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0099ff, #4db8ff); /* Standard syntax */
}